*{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
    box-sizing: border-box;
}
header {
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #b4dd7f;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    height: 265px;
}
body {
    background-color: #d9f2c7;
    text-align: center;
    color: white;
    font-size: 18px;
}
.conteudo{
    background-color: #5a7d3c;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin: 50px auto;
    height: auto;
    width: 500px;
    margin-bottom: auto;
}
.exemplo{
    width: 350px;
    height: 350px;
    margin: 50px auto;
    border-radius: 10px;
    margin-bottom: auto;
}
h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
p {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contato{
    color: black;
    text-align: left;
    font-size: 15px;
    margin-bottom: 50px;
    background-color: #b5e7a0;
    height: auto;;
    padding: 20px;
    margin: 40px auto;
}
footer {
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 12px;
    color: #2d5a27;
    display: flex;
}
.panda {
    height: 100px;
    opacity: 0;
    transform: translateX(-50px); 
    animation: slideIn 1s forwards;
}
.apresentacao {
    text-align: center;
    color: white;
    font-size: 40px;
    flex-grow: 1;
    opacity: 0; 
    transform: translateY(30px); 
    animation: fadeInUp 1s forwards; 
}
.subtitulo {
    text-align: center;
    color: #2d5a27;
    font-size: 20px;
    flex-grow: 1;
    opacity: 0; 
    transform: translateY(30px); 
    animation: fadeInUp 1s forwards; 
}
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-titulo {
    animation-delay: 0.5s;
}
.animate-panda1, .animate-panda2 {
    animation-delay: 0.5s; 
}
@media (max-width: 768px) {
   header {
        height: auto;
        padding: 20px;
    }
    .apresentacao {
        font-size: 30px;
    }
    .subtitulo {
        font-size: 15px;
    }
    .conteudo {
        width: 80%;
        margin: 50px auto;
    }
    .exemplo {
        width: 100%;
        height: auto;
    }
    .contato {
        width: 80%;
        margin: 50px auto;
    }
}

